extends layout

block content

    h3= 'Resource "' + resource.resource.data.name + '"'


    .container-fluid
        .row
            .col-md-6
                h4 Related files
                table.table.table-striped
                    thead
                        tr
                            th File name
                    tbody
                        each file in resource.files
                            tr
                                td
                                    a(href='/ui/dashboards/file/' + file.metadata.id)= file.data.name

            .col-md-6
                h4 Related servers

                table.table.table-striped
                    thead
                        tr
                            th Server
                            th Change rate
                            th Failure rate
                    tbody
                        each server in resource.servers
                            tr
                                td
                                    a(href='/ui/dashboards/server/' + server[0].metadata.id)= server[0].data.fqdn
                                td= Math.round(server[1].data.rate10*1000)/1000
                                td= Math.round(server[1].data.failed10 * 1000) / 1000